<tr class="auto-repeat" data-repeat="[[repeat_name]]" data-risk="[[risk_key]]">
  <td align="center" class="[[id_classes]]" data-field="[[id_field]]">[[finding_id]]</td>
  <td class="placeholder requires-input auto-field wrap-anywhere wrap-pre" data-field="[[title_field]]">[[title]]</td>
  <td align="center"><span class="badge [[risk_badge_class]]" data-risk="[[risk_key]]">[[risk_label]]</span></td>
  <td class="placeholder auto-field wrap-anywhere wrap-pre" data-field="[[action_field]]">[[action]]</td>
  <td align="center" class="placeholder auto-field wrap-anywhere" data-field="[[owner_field]]">[[owner]]</td>
  <td align="center" class="placeholder auto-field" data-field="[[due_field]]">[[due]]</td>
  <td class="placeholder auto-field wrap-anywhere wrap-pre" data-field="[[retest_field]]">[[retest]]</td>
</tr>
