<tr class="[[row_class]] auto-repeat" data-repeat="priority-item" data-risk="[[risk_key]]">
  <td align="center">[[rank]]</td>
  <td align="center" class="placeholder auto-field" data-field="priority.item.id">[[finding_id]]</td>
  <td class="placeholder requires-input auto-field" data-field="priority.item.title">[[title]]</td>
  <td align="center"><span class="badge [[risk_badge_class]]" data-risk="[[risk_key]]">[[risk_label]]</span></td>
  <td align="center" class="placeholder auto-field" data-field="priority.item.due">[[due]]</td>
  <td align="center" class="placeholder auto-field" data-field="priority.item.owner">[[owner]]</td>
</tr>
