<tr class="auto-repeat" data-repeat="summary-system">
  <td align="center" class="placeholder requires-input auto-field" data-field="summary.system.name">[[system_name]]</td>
  <td align="center" class="placeholder auto-field" data-field="summary.system.total">[[total]]</td>
  <td align="center" class="placeholder auto-field" data-field="summary.system.vuln">[[vuln]]</td>
  <td align="center" class="placeholder auto-field" data-field="summary.system.ok">[[ok]]</td>
  <td align="center" class="placeholder auto-field" data-field="summary.system.na">[[na]]</td>
</tr>
